$primary-color: #F4E041;
$sekond-color: #00BDD3;
$body-bg-color: #F8F8F8;
$btn-normal-color: #F4E041;
$btn-hover-color: #FFE302;
$btn-disabled-color:#B4B4B4;
$btn-text-color: rgba(0, 0, 0, 0.87);
$btn-disabled-text:rgba(255, 255, 255, 0.87);
$pl-text-enebled: #7E7E7E;
$pl-text-filled: rgba(0, 0, 0, 0.87);
$radio-check: #00BDD3;
$radio-border: #D0CFCF;
$section-bg-color:#E5E5E5;
